body{
	background-color: #777;
	/*background-image: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?auto=format&fit=crop&w=750&q=80");
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;*/
}
.coding-main{
	margin-bottom: 90px;
	width: 100%;
}
.coding-content{
	position: relative;
}
.coding-desc{
	margin: 50px;
	margin-left: 0;
	margin-right: 0;
}
#icon{
	border: 3px solid green;
	border-radius: 50%;
	display: inline-block;
	width: 50px;
	height: auto;
}
#connector{
	width: 20px;
	margin-left: 50px;
	display: inline-block;
}
#content{
	display: inline-block;
	padding: 5px;
	margin-left: 70px;
	margin-right: 10px;
	border-radius: 20px/20px;
	background: #ccc;
}
@media screen and (max-width: 645px),screen and (max-height: 535px) {
	.coding-main{
		margin-bottom: 10px;
	}
}